/*profile section*/
/*common*/

.profile{
 padding: 5rem 2rem 0.5rem;
}

/*end common*/

/*profile top*/
.profile-top{
	width: 100%;
	padding: 1rem;
	border-left: 2px solid  #ff9933;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* border-radius: 40px;*/
	  /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
}

.profile-growth-div{

}

/*login sign up*/
.login-signup{
	width: 100%;
}

.login-signup a{
	width: 15rem;
	padding: 1.2rem;
	border: 1px solid  #0059b3;
	letter-spacing: 0.5px;
	transition: 0.2s ease;
    font-size: 1.5rem;
     font-weight: 600;
     border-radius: 20px;
     background-color:  #0059b3;

}

.login-signup a{
	color:  white;
	
}

.login-signup a:hover {
	transform: scale(1.2);
	background-color: #0047b3;
	border: none;
	color: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


/*end .login sign up*/

 /*your profile*/
 .profile-top .account{
 	width: 60%;
 	display: flex;
 	align-items: center;
 	margin-left: ;
 }

 .profile-top .account img{
 	 transition: 0.4s ease;
 	 width: 55px;
 }

 .profile-top .account img:hover {
 		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 		border-radius: 50%;
 		transform: scale(1.2);
 		cursor: pointer;
 }
 /*end your profile*/





/*end profile top*/

/*profile mid*/
.profile-mid{
	width: 100%;
	height: 100%;
	margin-top: 5rem;

}


  /*profile card*/
  .profile-card{
  	width: 100%;
	height: 25rem;
	border: 2px solid orange;
	 border-radius: 20px;
	 background-image: linear-gradient(#FBD72B , #F9484A);
    transition: 0.2s ease;
     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    padding: 2rem;
    justify-content: space-around;
  }

  .profile-card:hover{
   cursor: pointer;
   transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.22);
  }

  .profile-card .left-card{
  	font-size: 1.4rem;
  	/*color: ;*/
  }

   #qualification{
   
  }

  .profile-card .left-card p{
  	font-weight: 600;
  	 margin-top: 1rem;
  }

  .college{
  	margin-top: 0.2rem;
  }


  .profile-card .right-card img{
  	width: 100px;
  }
  

  /*end profile card*/


/*end profile min*/

/*end profile section*/