*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
	font-size: 10px;
}

body{
	width: 100%;
	height: 100%;
	 font-family: 'Josefin Sans', sans-serif;
     background-color: #cccccc;
     overflow-y: hidden;
}


/*common */
.profile-main{
  display: flex;
  height: 100%;
  position: relative;

}

.prof{
	width: 50%;
	height: 79rem;	
}

/*end common*/

/*nav section*/
#nav{
	position: relative;
   background-color: white;
}
.nav{
	/*position: fixed;*/
  padding: 1rem;
  z-index: 100;
}

.nav-head{
    width: 100%;
   	position: fixed;
   	top: 3%;
    left: 4%;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    align-items: center;
    /*background-color: black;*/
   }

   .nav-head {
   width: 100%;
   display: flex;
   justify-content: center;
    font-size: 2.2rem;
   }

    .nav-head  a{
      display: flex;
      flex-direction: row;
      align-items: center;
      color: black;
    }

   .nav-head  span {
    display:flex;
  width: 2rem;
  height: 4rem;
  background-color:  #0047b3;
  margin-right: 1rem;
   }
/*end nav section*/

/*...------------------------------------------------...*/
                    /*profile main*/
                      /*profile left*/
/*...-------------------------------------------------...*/

/*profile main*/

   /*profile left*/
    .profile-left{
    	width: 40%;
      height: 68rem;
   margin: 2rem 4rem;
   margin-bottom: 4rem;
    	display: flex;
    	justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: white;
      /*background: linear-gradient(to bottom, #ffffff 0%, #ffcc99 100%);*/
    }  

    .pleft-head{
      font-size: 4rem;
       /*color: #0059b3;*/
       position: absolute;
       top: 9%;
    }

    /*profile-left-top section*/

    .profile-left-top,.profile-pic{
      display: flex;
      flex-direction: column;
      align-items: center;
       border-radius: 20px;
       padding: 1rem;
       /*margin-top: 0rem;*/
    }

    .profile-left input[type="text"]{
      padding: 0.5rem;
      border-radius: 1rem;
      border-color: #cccccc;
    }

    .profile-img{
    	width: 15rem;
      height: 15rem;
    	border-radius: 50%;
    	padding: 0.5rem;
    	border: 0.5px solid black;
    }  

    .profile-pic img{
    	width: 100%;
    }

    .profile-u-info{
    	width: 100%;
    	padding: 1rem;
    	margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .profile-u-info .profile-name,.profile-u-info .curr-loc,.profile-u-info .profile-rec-edu .rec-edu-info label{
      font-size: 1.5rem;
      font-weight: 600;
       margin-right: 1rem;
    }

     .profile-u-info .profile-name label{
      margin-right: 1rem;
     }

     .profile-u-info .curr-loc label{
      margin-right: 1rem;
     }

    .profile-u-info .profile-rec-edu .rec-edu-info label{
      margin-right: 1rem;
    }

    .profile-u-info .curr-loc,.profile-u-info .profile-rec-edu{
      display: flex;
      align-items: center;
    }

    .profile-u-info .profile-rec-edu .rec-edu-info{
       font-size: 1.5rem;
     }


     .profile-u-info .curr-loc{
      margin-top: 1rem;
     }

     .profile-u-info .profile-rec-edu .rec-edu-info{
      margin-top: 1.3rem;
     }
    
    .profile-u-info  img{
         width: 20px;
    }

    /*end profile left top section*/


   /*end profile left*/


/*..........................................................*/
   /*profile-right*/
    .profile-right{
    	width: 60%;
      height: 68rem;
      background-color: white;
    margin: 2rem;
    padding: 2rem 5rem;
    overflow-y: scroll;
    }

    .intro textarea,.add textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 1rem;
   height: 100px;
}


/* Scrollbar Styling */
.profile-right::-webkit-scrollbar {
    width: 8px;
}

.profile-right::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

.profile-right::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 10px;
  }

.profile-right:hover::-webkit-scrollbar-thumb { background: #0059b3;}
.profile-right::-webkit-scrollbar-thumb:horizontal:hover,
.profile-right::-webkit-scrollbar-thumb:vertical:hover { background:  #0059b3; }

.intro{
  padding: 1rem;
}


    .profile-right .inforight{
     width: 80%;
     height: 90%;
     /*padding: 2rem;*/
     margin-top: 2%;
    }

    .info-head{
    	 display: flex;
    	 align-items: center;
    }

     .info-head img{
     	width: 50px;
     	margin-right: 1rem;
     	filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
     }



    .profile-right .inforight  h2{
     font-size: 2.5rem;
     letter-spacing: 1px;
     margin-left: 1.5rem;
      filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    }

    
     .profile-right .add{
     	margin-top: 4rem;
     }

    .profile-right .add h2{
    	font-size: 2.3rem;
    	/*margin-top: 6rem;*/
    }

    .profile-right .add .props-cont{
    	/*list-style: none;*/
    	font-size: 1.8rem;
    	font-weight: 600;
    	margin-left: 2.5rem;
    	margin-top: 2.6rem;
    	color: #666666;
    	padding-bottom: 1.5rem;
    	animation: rise 1s ease 1;
    }

      /*personal info*/
.pinfo{
 margin-top: 2.5rem;
 padding: 1rem;
}

.pinfo img{
  width: 68px;
  margin-left: -1rem;
}

.pinfo .info-head h2{
  margin-top: 0.5rem;
}

.pinfo-item{
  width: 60%;
   height: 100%;
   padding: 2rem 0 1rem 0;
      border-bottom: 1px solid #666666;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.pinfo-cont{
  width: 20rem;
/*  margin-right:4rem;*/
}

.pinfo-head h1{
  font-size:1.8rem;
  letter-spacing: 1px;
}

.pinfo-cont h1{
  letter-spacing: 1px;
}

.pinfo-cont input[type='text'], .pinfo-cont input[type='number']{
      padding: 1.2rem;
      margin-top: 0.2rem;
 }

 .pinfo-cont textarea{
  padding: 1rem;
 }


/*end personal info*/

 

     .props-up{
     	margin-top:2rem;
     }

      .props-up input[type="file"]{
      		background-color: #e65c00; 
      	 color: white;
         z-index: 10000000;
         border-radius: 10px;
         padding: 1rem;
         border-color: transparent;
         cursor: pointer;
      }

      .add input[type="text"]{
         padding: 0.5rem;
      border-radius: 1rem;
      border-color: #cccccc;
      margin-top: 2rem;
     margin-left: 1rem;
      }

    

   /*end profile right*/

/*end profile main*/

/*keyframes*/
@keyframes rise{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}
/*end keyframes*/

