/*feed section*/
 .job-button .sign-out{
    background-color:#e67300;
    color: black;
   
   }
/*feed common section*/
.feed{
 position: relative;
 padding: 1rem 0 0 0 ;
 overflow: hidden;
}

.feed-growth{
	position: absolute;
	width: 100%;
	height: 100%;
	transform: translateY(80rem);
	opacity: 0;
	transition: 0.4s ease;
}

.feed-growth-show{
	opacity: 1;
	transform: translateY(0);
}

 .top{
    width: 100%;
    height: 15%;
    /*border: 2px solid black;*/
    font-size: 3rem;
    display: flex;
   align-items: center;
  }

  .top span{
    color: #e67300;
  }

  .head{
    font-size: 2.5rem;
    letter-spacing: 0.5px;
  }

  .bot{
    width: 100%;
    height: 80%;
    padding: 2rem;
    padding-top: 3.1rem;
   }


   .head{
    display: flex;
    align-items:center;
   }

   .head img{
    width: 50px;
    position: relative;
   }

   .head-img{
    width: 60px;
    height: 50px;
    position: relative;
   }


  .head-img:before{
    content: "";
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: orange;
      border-radius: 20px;
      transform: translateX(-6.7rem);
      transition: 0.4s ease;
   }


   .head h1{
  border-bottom: 2px solid #999999;
  /*margin-left: 1.5rem;*/
   }

/* Scrollbar Styling */
.j-list::-webkit-scrollbar {
    width: 8px;
}

.j-list::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

.j-list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 10px;
  }

.j-list:hover::-webkit-scrollbar-thumb { background: #0059b3;}
.j-list::-webkit-scrollbar-thumb:horizontal:hover,
.j-list::-webkit-scrollbar-thumb:vertical:hover { background:  #0059b3; }
/*end feed common section*/

  /*Dashboard Section*/
 /* .dashboard-growth-show{
  opacity: 1;
  }
*/
  .dashboard{
  	padding: 1rem;
    transform: translateY(0);
  }

  /*job section*/
   



   .j-list{
   	width: 100%;
   	height: 100%;
   	margin-top: 2rem;
   	padding-top: 2rem;
   	/*border: 2px solid black;*/
   	display: flex;
   	flex-wrap: wrap;
   	padding-bottom: 4rem;
   	overflow-y: scroll;
   }




   .job{
   	position: relative;
   	min-width:22rem;
   	max-width: 34rem;
   	min-height: 34rem;
   	/*border: 2px solid black;*/
   	margin: 1rem;
   	border-radius: 10px;
   	padding: 2rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 -2px 6px rgba(0,0,0,0.23);
  transition: 0.2s ease;
  border: 2px solid transparent;
  transition: 0.2s ease;
   }

   .job:before{
   	content: ' ';
   	width: 100%;
   	height: 100%;
   	position: absolute;
   	top: 0;
   	right: 0;
   	bottom: 0;
   	left: 0;
    background-image: linear-gradient(#FBD72B , #F9484A);
    z-index: -1;
    opacity: 0.1;
   }

   .job:hover{
   	  border-color: orange;
   	  transform: scale(1.05);
   }

   .job-title{
     font-size: 4rem;
     margin-top: 2rem;
   }

   .job-company,.job-location{
   	font-size: 1.6rem;
   	color:  #1a1a1a;
   	font-weight: 800;
   	margin-top: 0.5rem;
   }

   .job-location{
   	margin-top: 0.2rem;
   }

   .job-s{
   	margin-top: 0.6rem;
   	display: flex;
   	align-items: center;
   }

       /*job money*/
    .job-money-div,.job-type-div{
       display: flex;
       align-items: center;
       color: #1a1a1a;
       
     }

      .job-money-div p,.job-type-div p {
           font-size: 1.5rem;
           font-weight: 800;
           margin-left: 0.5rem;
      }

     .job-money-div img{
     	width: 20px;
     }
      /*end job money*/

      /*job type*/
      .job-type-div img{
      	width: 19px;
      	margin-left: 1rem;
      }
      /*end job type*/
      
     
      /*job description*/
      .desc{
       margin: 1rem 0rem;
       /*border: 2px solid black;*/
       padding: 2.5rem;
       box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 -2px 6px rgba(0,0,0,0.23);
      }


       .desc h2{
       	font-size: 2.5rem;
       	margin-top: 1rem;
       	letter-spacing: 1px;
       	border-bottom: 2px solid  #808080;
       }

      .job-description{
      	/*color: #1a1a1a;*/
      	font-weight: 800;
        /*text-transform: capitalize;*/
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 0.5px;
        margin-top: 1rem;
       /* font-family: Georgia;*/
      }

      
   

      /*end job description*/
      
      /*job button*/
      .job-button{
      	display: flex;  
      }


      .job-button .descButton, .job-button .job-apply{
       padding: 1rem;
       border-radius: 40px;
       cursor: pointer;
       margin-left: 2rem;
      border-color:transparent;
       font-weight: 400;
       letter-spacing: 1px;
       margin-top: 1rem;
       transition: 0.2s ease;
       box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
      }

      .job-button .descButton{
          background-color: orange;
          z-index: 1000000;
      }

       .job-apply{
      	background-color: #0059b3;
      	 color: white;
         z-index: 10000000;
      }
      
      .job-button .descButton:hover,.job-button .job-apply:hover{
      	transform: scale(1.2);
      }

      .job-apply-back{
      background-color: #00cc7a;
      }

      /*end job button*/


  /*end job section*/

  /*end Dashboard Section*/
  
  /*applied section*/
  .applied{
  
  }

  .app-list{
    margin-top: 2rem;
    overflow-y: scroll;
  }

/*job section*/

  .applied .job{
    /*min-width:22rem;
    max-width: 34rem;*/
    max-height: 100%;
  }

  .applied .job-button{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    transform: translateX(-1rem);
  }

  .applied .job-button .descButton{
 
  }

 .job-button .j-applied{
    background-color: #00cc7a;
  }

  .app-top{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  /*end job section*/

  /*end applied section*/
   

   /*notification section*/
   .noti-list{
    margin-top: 2rem;
    justify-content: center;
    height: 120%;
   }
 
 .noti{
  width: 92%;
  min-height: 5rem;
  padding: 2rem;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 -6px 6px rgba(0,0,0,0.23);
   border-radius: 20px;
   margin-top: 2rem;
 }
   .n-head h1{
   font-size: 2rem;
   }

   .noti .A-lead,.noti .D-lead{
    background-color:  #00cc7a;
    width: 100%;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0rem;
   }

   .noti .D-lead{
    background-color: #ff1a1a;
   }
   /*end notification section*/


   /*about-us section*/
   .about-us{
    position: relative;
   width: 100%;
   }

   .about-bot-head{
    margin-top: 3.8rem;
   }

   .about-cont{
    position: relative;
    display: flex;
    margin-top: 6rem;
   }

   .about-c{
    width: 50%;
    /*border: 2px solid black;*/
   }


   .about-us-left{
    /*border: 2px solid black;*/
    margin: 1rem;
    height: 50rem;
   }

   .about-us-right p{
   font-size: 1.55rem;
   font-weight:600;
   letter-spacing: 1.2px;
   line-height: 2rem;
   margin-top: 4rem;
   }

   .about-btn button{
     padding: 1rem;
       border-radius: 40px;
       cursor: pointer;
       margin-left: 2rem;
      border-color:transparent;
       font-weight: 400;
       letter-spacing: 1px;
       margin-top: 2rem;
       transition: 0.2s ease;
       box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
       background-color: orange;
   }
   

/*about us left cont*/

.about-us-1-cont{
  position: relative;
}
   
   .ab-1,.ab-2{
    position: absolute;
    width: 20rem;
    height: 25rem;
    background-size: 100% 100%;
     border: 0px solid #d9d9d9;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
   }

   .ab-1{
     background-image: url('images/about/ab2.jpg');
   }

   .ab-2{
    top: 40%;
    left: 20%;
    background-image: url('images/about/ab1.jpg');
   }

   .ab-3,.ab-4{
    position: absolute;
    width: 5rem;
    height: 10rem;
    border: 10px solid orange;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
   }

   .ab-3{
    top: 5%;
    left: 30%;
    border-radius: 10px;

   }

   .ab-4{
    top: 55%;
    left: 5%;
    border-radius: 10px;
    transform: rotate(90deg);
   }

  /*end about us left cont*/


   /*end about-us section*/

/*...---------------------------------------------------...*/
/*...-----------------------------------------------------...*/

   /*contact section*/
   .contact{
   	
   }
   /*end contact section*/

/*...---------------------------------------------------------...*/
/*...---------------------------------------------------------...*/

     /*needhelp section*/
   .need-help{
   	
   }
   /*end needhelp section*/


/*end feed section*/
