/*profile section*/
/*common*/

.profile{
 padding: 5rem 2rem 0.5rem;
}

.nav-head .idham{
  display: none;
}

/*end common*/

/*profile top*/
.profile-top{
	width: 100%;
	padding: 1rem;
	border-left: 2px solid  #ff9933;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* border-radius: 40px;*/
	  /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
}

.profile-growth-div{
 font-size: 1.4rem;
}

.profile-growth-div h2:nth-child(2){
  margin-left: 1rem;
  margin-right: 0.3rem;
}

/*login sign up*/
.login-signup{
	width: 100%;
}

.login-signup a{
	max-width: 100%;
	padding: 1.2rem;
	border: 1px solid  #0059b3;
	letter-spacing: 0.5px;
	transition: 0.2s ease;
    font-size: 1.5rem;
     font-weight: 600;
     border-radius: 20px;
     background-color:  #0059b3;

}

.login-signup a{
	color:  white;
	
}

.login-signup a:hover {
	transform: scale(1.2);
	background-color: #0047b3;
	border: none;
	color: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


/*end .login sign up*/

 /*your profile*/
 .profile-top .account{
 	width: 60%;
 	display: flex;
 	align-items: center;
 }

 .profile-top .account img{
 	 transition: 0.4s ease;
 	 width: 55px;
 }

 .profile-top .account img:hover {
 		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 		border-radius: 50%;
 		transform: scale(1.2);
 		cursor: pointer;
 }
 /*end your profile*/





/*end profile top*/

/*profile mid*/
.profile-mid{
	width: 100%;
	height: 100%;
	margin-top: 5rem;

}


  /*profile card*/
  .profile-card{
  	width: 100%;
	height: 25rem;
	border: 2px solid orange;
	 border-radius: 20px ;
 background-image: linear-gradient(#FBD72B , #F9484A);
    transition: 0.2s ease;
     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem;
    position: relative;
    z-index: 10;
  }

  /*.profile-card:before{
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: black;
    z-index: -1;
    opacity: 0.6;
    border-radius: 10px;
  }*/

  .card-top{
    display: flex;
    align-items: center;
  }

  .card-top img{
    width: 50px;
  }

  .cname p{
    font-size: 6rem;
    letter-spacing: 2px;
    font-weight: 800;
    transform: scale(0.5);
/*    border-bottom: 2px solid black;*/
  }

  .card-mid{
     display: flex;
     justify-content: space-around;
     align-items: center;
/*    flex-direction: column;*/
  }

  .profile-card:hover{
   cursor: pointer;
   transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.22);
  }

  .profile-card .left-card{
  	font-size:1.4rem;
  	/*color: ;*/
    height: 100%;
    margin-top: -1rem;
  }

  .profile-card .curr-loc{
    margin-top: 1.6rem;
  }

  .profile-card .curr-loc,.profile-card .profile-rec-edu,.profile-card .profile-email{
    display: flex;
    align-items: center;
  }

  .profile-card .left-card img{
    margin-right: 1rem;
    width: 20px;
  }

   .profile-card .profile-rec-edu .rec-edu-info{
      margin-top: 1.3rem;
     }

      .profile-card .pro p{
         font-weight: 600;
         font-size: 1.2rem;
      }

      .profile-card .profile-rec-edu .rec-edu-info h3{
         margin-top: 0.5rem;
      }

      .profile-card .profile-email{
        margin-top: 1.2rem;
      }

      .profile-card .profile-email-info p{
        font-size: 1.5rem;
      } 

      
      .profile-edu-bot{
        position: absolute;
        bottom: 4%;
        font-size: 1.2rem;
        font-weight: 800;
        color:  black;
/*        letter-spacing: 1px;*/
      }


      .right-card{
        display: flex;

        flex-direction: column;
        align-items: center;
        margin-top: -2rem;
      }

      .profile-id{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;
      }

      .right-card .profile-qr img{
       max-width: 50px;
       margin-top: 1.4rem;
      }

      #user-id{
        margin-left: 0.4rem;
      }

  
  
  #name{
    font-size: 2rem;
    margin-top: 1rem;
    letter-spacing: 1px;
  }
  

  #qualification{
      font-weight: 600;
     margin-top: 3rem;
     font-size: 1.5rem;
  }

  #college{
  	margin-top: 0.5rem;
    font-size: 2rem;
  }


  .profile-card .right-card img{
  	width: 100px;
  }
  

  /*end profile card*/


/*end profile min*/

/*end profile section*/